body {
    background-color: #17181A;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-image: url("../assets/pattern.png");
}
.episode-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.episode-img-container {
    width: 100%;
    overflow: hidden;
    height: 200px;
    flex-grow: 1;
   
}
.cards {
    display: grid;
    grid-template-columns: repeat(4,200px);
    gap: 8px;
    row-gap: 14px;
    margin: 40px 0px 0px 0px;
}
.card {
    background-color: #313234;
    overflow: hidden;
    border: 3px white solid;
    border-radius: 8px;
}
.card:hover img {
    opacity: 0.4;
    transform: scale(1.1);
}
.card a {
    color: inherit; 
    text-decoration: inherit;
    display: block;
    height: 100%;            
}
.card h4, .card p {
    padding: 0px;
    margin: 0px;
}
.card h4 {
    margin-bottom: 8px;
    line-height: 18px;
}
.text {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.infos {
    padding: 8px;
}
.infos h4 {
    height: 60px;
}
.card .episode {
    font-size: 14px;
}
.card .base {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 16px;
}
.header-infos {
    margin: 0px 0px 40px 0px;
}
header {
    padding-top: 50px;
    text-align: center;
    background-color: #00070F;
    width: 100%;
}
.brand {
    width: 35%;
}
.score {
    background-color: red;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: inline-block;
}
.score-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
}